.swing_slider_fouc .swing_slider {display: none;} /* Keep this as it is*/
.swing_slider div,.swing_slider p,.swing_slider li,.swing_slider span,.swing_slider img,.swing_slider h2,.swing_slider ul{list-style:none;vertical-align:baseline;}
.swing_slider{overflow:hidden;margin: 0 0 0 0;line-height:18px;position:relative;width:100%;}
.swing_slider .swing_slider_handle{  width:100%;  height:100%;  position:relative;}
.swing_slider .swing_slider_thumbnail {  border:0;  display:block; padding:0px !important;}
.swing_slider span{display:inline;}
.swing_slider a{border:none !important;text-decoration:none !important;}
.swing_slider a:hover{text-decoration:underline !important;}
.swing_slider h2{clear:none;display:block;padding:0px;border:none;text-shadow:none}
.swing_slider p.more a{text-decoration:underline;float:right;}
.swing_slider p.more a:hover{text-decoration:none;}
.swing_slider .swing_slideri {  position:absolute;  top:-1000px;  left:-1000px;}
.swing_slider .swing_text {  position:absolute;  bottom:0;  padding:5px;}
.swing_slider .swing_text h2,.swing_slider .swing_text p{opacity:1;}

/* Next and Previous navigational arrows */
.swing_slider .swing_next {  position:absolute;  bottom:40%;  right:5%; cursor:pointer;z-index:10;}
.swing_slider .swing_prev {   position:absolute;  bottom:40%;  left:5%;  cursor:pointer;z-index:10;}

/* Navigation Numbers */
.swing_slider .tracker-summation-container {  position:absolute;  right:5px;  bottom:0;  padding:3px;  margin:0 0 10px 0 !important;  background-color:#777;font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:12px;padding:2px 5px;font-weight:bold;}
.swing_slider .tracker-individual-container {  position:absolute;  color:white;  left:5px;  bottom:0;  padding:0;  margin:0 0 10px 0 !important;}
.swing_slider .tracker-individual-container li {  list-style:none !important;}
.swing_slider .tracker-individual-container .tracker-individual-blip {  margin:0 3px;  padding:0 5px !important; text-align:center;  background-color:#777;font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:12px}
.swing_slider .tracker-individual-container .tracker-individual-blip-selected {  color:white;  font-weight:bold;  background-color:#222;}

.swing_slider .sldr_clearlt{display:block;visibility:hidden;clear:left;height:0;content:".";}
.swing_slider .sldr_clearrt{display:block;visibility:hidden;clear:right;height:0;content:".";}
