body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

#slider{
width:656px;
height:246px;
margin:0px auto;
border:2px solid #000000;
}
#gallery {
	position:relative;
	height:246px
}
	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		border:none;
	}
	
	#gallery a.show {
		z-index:500
	}

	#gallery .caption {
		z-index:600; 
		background-color:#000; 
		color:#ffffff; 
		height:45px; 
		width:100%; 
		position:absolute;
		bottom:0;
	}

	#gallery .caption .content {
		margin:5px
	}
	
	#gallery .caption .content h3 {
		margin:0;
		padding:0;
		font-weight:bold;
		color:#ffffff;
	}
	