#feature-yt-slider{margin:0 auto;}
#ytvideo{
    float: left;
	margin-right:10px;
}
.yt_holder {
    background: #407414;
    padding: 8px;
    float: left;
    border: 1px solid #69bf21;
	margin-bottom:0px;
}
.yt_holder a{color:#ffffff; }
.yt_holder p{float:right;font-size:11px;font-weight:bold;color:#ffffff; padding:0px;margin:0px;font-family:Arial, Helvetica, sans-serif;}

ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 220px;
}

ul li {
    list-style-type: none;
    display:block;
    background: #676767;
    float: left;
    width: 90px;
    margin-bottom: 5px;
	padding:2px;

}

ul li img {
    width: 88px;
    float: left;
    margin-right: 5px;
    border: 1px solid #999;
}

ul li a {
    font-family: georgia;
    text-decoration: none;
    display: block;
    color: #000;
}

.currentvideo {
	background: #f2f2f2;

}
.video-tab{
width:94px;
}

