.cmsse-featured {  color: #fff; background:  #67991c repeat-y 50% 0; width: 939px; height: 364px; margin: 0 auto; font-size: 15px; line-height: 140%; padding: 6px 10px 10px 6px;border:1px solid #b2db1d; font-family: 'Oswald', sans-serif; text-decoration:none;}
.cmsse-featured-title{margin: 0px; line-height: 120%; text-decoration:none;}
.cmsse-featured-info { color: #ddd;  padding: 0; margin: 5px 0px; border-bottom: 1px solid #fff; border-top:3px solid #fff; }
#sections-1 { width: 653px; height: 364px; float: left; overflow: hidden; border:2px solid #fff }
#sections-1 ul { width: 10000px; padding: 0; margin: 0; height: 364px; float: left; list-style-image: none; display: block; }
#sections-1 li { width: 655px; height: 364px; display: block; float: left; }
#cmsse-featured-right { width: 262px; height: 364px; float: right;  }
#sections-2 { width: 262px; height: 296px; float: right; overflow: hidden; }
a.cmsse-featured-readmore{color:#f5cf4a; text-decoration:none;}
.cmsse-featured-readmore {  padding: 0px 10px 3px 10px; display: block; float: right; margin-top: 5px; }
#sections-2 ul { width: 262px; padding: 0; margin: 0; height: 5000px; float: left; list-style-image: none; display: block; }
#sections-2 li { width: 227px; height: 257px; display: block; float: left;  padding: 20px; }
.cmsse-featured-title a { color: #fff;  text-shadow: 0 1px 1px #ddd; text-decoration:none;}
#cmsse-featured-button { width: 261px; height: 66px;  float: right; }
.prev { width: 50px; height: 45px; cursor: pointer; float: left; background-image: url(../images/button_slide1p.png); margin-top: 18px; margin-left: 10px; }
.next { width: 50px; height: 45px; cursor: pointer; float: right; background-image: url(../images/button_slide1n.png); margin-top: 18px; margin-right: 10px; }
.prev-hover { width: 50px; height: 45px; cursor: pointer; background-image: url(../images/button_slide2p.png); }
.next-hover { width: 50px; height: 45px; cursor: pointer; background-image: url(../images/button_slide2n.png); }

