html, body {
padding: 0;
margin: 0;
}
body, div, p {
font-family: Arial, Helvetica, Verdana;
color: #333;
}
body {
/*background-color: #003300;*/
background:#cccccc url('../images/bgmain.png');
}
h1{font-size:18px; text-align:center;}

.wrapper {
background-color: #ffffff;
width: 990px;
margin: 0px auto;
padding: 5px;
box-shadow: 0 0 5px #999;
}
.list_carousel {
margin: 0px auto;
width: 936px;
}
.list_carousel ul {
margin: 0px auto;
padding: 0;
list-style: none;
display: block;
background-color: #d9edf3;
height:117px;
}
.list_carousel li {
font-size: 11px;
color: #999;
text-align: center;
background-color: #eee;
border: 2px solid #999;
width: 140px;
height: 100px;
position:relative;
padding: 0;
margin: 6px;
display: block;
float: left;
}
.list_carousel li  a {
display: block;
}
.list_carousel li  a img {
display: block;
border:none;
}
.list_carousel li  a .overlay {
background: url("../images/play.png") no-repeat scroll center center transparent;
font-size: 12px;
height: 100px;
left: 0;
position: absolute;
text-indent: -9999px;
top: 0;
width: 140px;
}
.list_carousel li  a:hover .overlay {
background: url("../images/overlay.png") repeat scroll 0 0 transparent;
display: block;
text-indent: 0;
}
.list_carousel li a .title {
color: #CCCCCC;
display: block;
padding: 20px 10px;
}
.clearfix {
float: none;
clear: both;
}
.timer {
background-color: #999;
height: 1px;
width: 900px;
position:relative;
}
.timer-outer-width{
margin:0px auto; width:936px;border:0px solid #ff0000;
}
a.prev, a.next {
position:relative;
width: 32px;
height: 32px;
display: block;
position: relative;
}
a.prev:hover {			background: url(../images/previous-enabled.png) no-repeat transparent;}
a.next:hover {			background: url(../images/next-enabled.png) no-repeat transparent;
}
a.next {
right: -24px;
background: url(../images/next-disabled.png) no-repeat transparent;
z-index: 9999;
top:-106px;
float:right;
text-indent: -99999px;
}
a.prev {
left: -24px;
top: -74px;
text-indent: -99999px;
z-index: 9999;
background: url(../images/previous-disabled.png)  no-repeat transparent;
}
div.pagination {
padding: 5px 40px 0 0;
text-align: center;
height: 15px;
margin-top:-29px;
}
div.pagination a {
background: url(../images/circle-disabled.png) no-repeat transparent;
width: 15px;
height: 15px;
margin: 0 5px 0 0;
display: inline-block;
}
div.pagination a.selected {
background: url(../images/circle-enabled.png) no-repeat transparent;
cursor: default;
}
div.pagination a span {
display: none;
}