body{
	margin:0px;
	font-family: Arial;
	color: #222222;
	font-size:12px;
}
#featuredv-out{width:453px;height:265px;margin:0px auto;background:#fae7bf;border:1px solid #ccc;}
#featuredv{ 
	width:433px; 
	padding:10px;
	position:relative; 
	 
	height:220px; 
	background:#fae7bf;
margin:0px auto;
}

#featuredv ul.ui-tabs-nav{ 
	position:absolute; 
	 left:375px; 
	list-style:none; 
	padding:0; 
	top:10px;
	margin:0px 5px;

	z-index:999999;
width:64px;

}
#featuredv ul.ui-tabs-nav-item{
margin:0px;padding:0px;
}
#featuredv ul.ui-tabs-nav li img{ 
	float:left; 
	margin:0px 0px; 
	background:#fff; 
	padding:0px; 
	border:1px solid #eee;
	width:60px;
	height:45px;
}
#featuredv ul.ui-tabs-nav li{ 
margin:0px; padding:0px 0px 4px 0px;border:0px solid #ff0000;
	}
#featuredv li.ui-tabs-nav-item a{ 
	display:block; 
	color:#333; 
	height:45px; 
	vertical-align:middle;
	padding-left:0px;
	text-decoration:none;
}
#featuredv ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ff0000;
display:block; 
height:47px;
border:1px solid #990000;

}
#featuredv .ui-tabs-panel{ 
	width:360px; height:224px; 
	position:relative;
}

#featuredv .ui-tabs-hide{ 
	display:none; 
}

#featuredv div p embed{
width:360px;
height:224px;
}
#featuredv-out a{color:#333333;padding-left:13px; }
#featuredv-out p{float:left;font-size:11px;font-weight:bold;color:#000000; padding:0px;margin:0px;font-family:Arial, Helvetica, sans-serif;}