#featured{ 
	width:656px; 
	padding-right:53px; 
	position:relative; 
	border:2px solid #e3e3e3; 
	height:310px; overflow:hidden;
	background:#fff;
margin:0px auto;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:435px; 
	list-style:none; 
	padding:0; margin:0; 
	width:279px; height:310px;
	overflow:auto;
	overflow-x:hidden;
z-index:999999;
}
#featured ul.ui-tabs-nav li{ 
	padding:0px 0px 0px 10px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:3px 2px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:13px;  font-family:Arial, Helvetica, sans-serif;
	line-height:18px; 
font-weight:bold;



}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:62px; text-decoration:none;
	color:#333333;
 background:#fff; 
padding-right:5px;


	line-height:20px; outline:none;
	background:url(../images/cmsse-featured-content-slider_tab_bg.jpg) repeat-x;


}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('../images/selected-item.png') 0px 0px no-repeat; 
 
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
background:#f2f2f2; 
color:#ffffff;
background:url(../images/cmsse-featured-content-slider_tab_seleted.jpg) repeat-x ;
margin:0px;
padding:0px;


}
#featured .ui-tabs-panel{ 
	width:400px; height:310px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:230px; left:0;
 	height:80px;
	width:440px; 
	background: url('../images/transparent-bg.png'); 
	padding:0px 10px 0px 0px;
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:15px; font-family:Arial, Helvetica, sans-serif;
	color:#fff; padding:5px; margin:0; font-weight:bold;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:12px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff;
font-weight:bold; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}