body{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
#cmsse-featured-content-slider{ 
	width:460px; 
	padding-right:245px; 
	position:relative; 
	border:1px solid #ccc; 
	height:300px; 
	background:#fff;

}
#cmsse-featured-content-slider ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:503px; 
	list-style:none; 
	padding:0; margin:0px; 
	width:202px; 
	z-index:999999;
}
#cmsse-featured-content-slider ul.ui-tabs-nav li{ 
	padding:0px 0px 0px 10px;
	font-size:12px; 
	color:#666; 
}
#cmsse-featured-content-slider ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#cmsse-featured-content-slider ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#cmsse-featured-content-slider li.ui-tabs-nav-item a{ 
	display:block; 
	color:#333; 
	background:url(../images/cmsse-featured-content-slider_tab_bg.jpg) repeat-x;
	height:50px; 
	line-height:50px;
	font-weight:bold;
	size:15px;
	vertical-align:middle;
	padding-left:10px;
	text-decoration:none;
}
#cmsse-featured-content-slider li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#cmsse-featured-content-slider li.ui-tabs-selected{ 
	background:url(../images/selected-item.png) left no-repeat;
}
#cmsse-featured-content-slider ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:url(../images/cmsse-featured-content-slider_tab_seleted.jpg) repeat-x;
	height:50px;
	color:#fff;
	font-weight:bold;
}
#cmsse-featured-content-slider .ui-tabs-panel{ 
	width:523px; height:300px; 
	background:#999; position:relative;border:1px solide #ff0000;
}
#cmsse-featured-content-slider .ui-tabs-panel .info{ 
	position:absolute; 
	top:220px; left:0; 
	height:80px; 
width:503px;
	background: url(../images/transparent-bg.png);
	padding:0px 20px 0px 0px; 

}
#cmsse-featured-content-slider .info h2{ 
	font-size:18px;
	color:#fff; padding:0px 0px 0px 5px; margin:0;
	overflow:hidden; 
}
#cmsse-featured-content-slider .info p{ 
	margin:0 5px; 
	font-size:12px; 
	line-height:15px; color:#f0f0f0;
}
#cmsse-featured-content-slider .info a:link, .info a:visited{ 
	text-decoration:none; 
	color:#fff;
}
#cmsse-featured-content-slider .info a:hover{ 
	text-decoration:underline; 
}
#cmsse-featured-content-slider .ui-tabs-hide{ 
	display:none; 
}

